@model HolidayHouse_Web.Models.VM.HouseNumberDeleteVM

<form asp-action="DeleteHouseNumber">
	<br />
	<div class="container border p-3">
		<h1 class="text-primary">Delete House Number</h1>
		<hr />
		<input hidden asp-for="HouseNumber.HouseNo"/>
		<div class="row">

			<div class="col-2">
				<label asp-for="HouseNumber.HouseNo" class="control-label pt-2" style="font-size:20px;"></label>
			</div>
			<div class="col-10 pb-3">
				<input asp-for="HouseNumber.HouseNo" disabled class="form-control" />
			</div>

			<div class="col-2">
				<label asp-for="HouseNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
			</div>
			<div class="col-10 pb-3">
				<textarea asp-for="HouseNumber.SpecialDetails" disabled class="form-control"></textarea>
			</div>

			<div class="col-2">
				<label asp-for="HouseNumber.House.Name" class="control-label pt-2" style="font-size:20px;"></label>
			</div>
			<div class="col-10 pb-3">
				<select asp-for="HouseNumber.HouseID" disabled class="form-select" asp-items="@Model.HouseList">
					<option disabled selected>Select Holiday House</option>
				</select>
			</div>

			<div class="col-5 offset-2">
				<a asp-controller="HouseNumber" asp-action="IndexHouseNumber" class="btn-primary btn form-control">Back to List</a>
			</div>
			<div class="col-5">
				<input type="submit" value="Delete" class="btn btn-danger form-control" />
			</div>
		</div>
	</div>
</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}